<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
  <img class="logo" src="../assets/images/logo.png">
  <a class="navbar-brand" routerLink="home" href="#">Stock Control</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="new-product" href="#">New Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product-movement" href="#">Product Movement</a>
      </li>
    </ul>
  </div>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  </div>
</nav>