.background{
    background-image: linear-gradient(rgb(31, 206, 220),rgb(104, 102, 11));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text{
    color: rgb(104, 102, 11);
    position: relative;
    font-size: 24px;
    font-weight: bold;
    top: 5px;
    left: 110px;
}

.column{
    float: left;
    width: 80%;
    padding: 10px;
}

p{
    position: relative;
    top: 10px;
    left:130px;
    width: 300px;
    text-align: justify;
}